<div class="overflow-x-auto">
    
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr class="bg-gray-50">
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">idReviewAudit</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">code_PK</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">stars</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">review</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">user_code_review_FK</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">event_code_describes_FK</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">creationDate</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">date_audit</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">action_audit</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let item of data" class="bg-white">
                <td class="px-6 py-4 whitespace-nowrap">{{ item.idReviewAudit }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.code_PK }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.stars }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.review }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.user_code_review_FK }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.event_code_describes_FK }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.creationDate | date:'short' }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.date_audit | date:'short' }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.action_audit }}</td>
            </tr>
        </tbody>
    </table>
</div>
