<nav class="flex items-center justify-between flex-wrap bg-emerald-600 p-6 rounded-lg shadow-md m-2">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img src="../assets/logo.png" alt="Logo" class="h-24 w-auto">
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-green-200 border-green-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20"><title>Menu</title></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/events" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4">
        Home
      </a>
      <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4">
        About
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white">
        Contact
      </a>
    </div>
    <div class="relative">
      <input type="text" placeholder="Search" class="bg-white text-emerlad-200 rounded-lg px-4 py-2 focus:outline-none focus:bg-teal-100">
      <button class="absolute right-0 top-0 mt-3 mr-4">
        <svg class="fill-current text-emerlad-600 h-4 w-4" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
      </button>
    </div>
  </div>
</nav>
