<nav class="flex items-center justify-between flex-wrap bg-emerald-600 p-1 rounded-lg shadow-md m-2">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img src="../assets/logo.png" alt="Logo" class="h-32 w-auto">
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="/events" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4 text-lg	">
        Home
      </a>
      <a href="/about" class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white mr-4 text-lg	">
        About
      </a>
      <a   (click)="scrollToFooter()"  class="block mt-4 lg:inline-block lg:mt-0 text-green-200 hover:text-white text-lg	">
        Contact
      </a>
    </div>
    <div class="relative">
      <app-category-dropdown></app-category-dropdown>
    </div>
  </div>
</nav>
