<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6">
    <li *ngFor="let event of eventsData" class="event-item bg-emerald-200 rounded-lg shadow-md overflow-hidden m-2 cursor-pointer hover:bg-gray-100"> <!-- Added cursor-pointer and hover:bg-gray-100 -->
      <a [href]="'/event/' + event.eventCode">
        <img src="{{ event.eventImage }}" alt="{{ event.eventTitle }}" class="w-full h-40 object-cover object-center">
        <div class="p-4">
          <h3 class="text-lg font-semibold text-gray-800">{{ event.eventTitle }}</h3>
          <p class="mt-2 text-sm text-gray-600"><strong>Owner:</strong> {{ event.ownerName }}</p>
          <p class="text-sm text-gray-600"><strong>Start Date & Time:</strong> {{ event.startDateTime | date:'mediumDate longTime'}}</p>
        </div>
      </a>
    </li>
  </ul>
  